@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import '_variables';
@import '~bulma/sass/utilities/derived-variables';
@import '~bulma';
@import '~buefy/src/scss/buefy';

html,
body {
  position: fixed;
  overflow: hidden;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

a {
  color: $grey;
}

.main-container {
  display: grid;
  width: 100vw;
  height: calc(100vh - 65px);
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    'logo logo score score'
    'content content content content'
    'footer footer footer footer'
  ;
  grid-gap: 20px 0;
  align-items: center;
  justify-items: center;
}

body.standalone .main-container {
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}

.logo {
  grid-area: logo;
  align-self: end;
  justify-self: start;
  margin: 1rem;
  color: $blue;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
}

.score {
  grid-area: score;
  align-self: end;
  justify-self: end;
  margin: 1rem;
  line-height: 1;
  small {
    color: $grey;
  }
}

.main {
  grid-area: content;
  align-self: strech;
}

.hero {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input {
  font-weight: bolder;
}

.button[disabled] {
  opacity: .8;
}

.button {
  transition: all 500ms;
  &.start {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
  }
}

.is-solution {
  color: hsl(204, 86%, 53%)
}

.is-right {
  color: hsl(171, 100%, 41%)
}

.is-wrong {
  color: hsl(348, 100%, 61%)
}

.footer {
  padding: 0;
  background: none;
  grid-area: footer;
  align-self: center;
  justify-self: center;
  font-size: .75rem;
  line-height: 1.1;
  color: $grey;

  a {
    color: $grey;

    &:hover,
    &:focus {
      color: $black;
      text-decoration: underline;
    }
  }

  img {
    height: 2em;
    width: auto;
  }
}
